#
# Deployment:
#       - A Deployment provides updates to Pods and ReplicaSets
#       
#       - Given a desired state in the Deployment object (For example, you can define a 
#         desired state using a YAML file like this one), the Deployment controller 
#         updates the current state to that desired state. 
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment
  labels:
    app: hello-world
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
      - name: hello-openshift
        image: openshift/hello-openshift
        ports:
        - containerPort: 8080
